github "dokun1/Lumina" "new-font-plus-open"
github "watson-developer-cloud/swift-sdk"
github "ibm-bluemix-mobile-services/bms-clientsdk-swift-push"
github "SVProgressHUD/SVProgressHUD"
github "Alamofire/AlamofireImage" ~> 3.3
